# Ignore image/document/script files
*.tif
*.pdf
*.png
*.sh

# Ignore checkpoints directories
checkpoints/
**/checkpoints/
deconv/

__pycache__/
*.pyc

README.md

non-blind-deconv/gt_dragon.ply
inference_2d/
runs/
